<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TextExtract Pro</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-100">
    <nav class="bg-gradient-to-r from-cyan-500 to-blue-500 p-4 text-white">
      <div class="container mx-auto flex justify-between items-center">
        <a class="text-2xl font-bold" href="#">Welcome {{user_name}} 👋</a
        ><a class="text-lg hover:text-blue-200" href="/logout">Logout</a>
      </div>
    </nav>

    <div class="container mx-auto p-8">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <div class="bg-white rounded-lg shadow-lg p-6">
          <h1 class="text-2xl font-bold text-gray-800 mb-4 text-center">
            CSV TO Text File
          </h1>
          <div class="text-center">
            <a
              href="/csv-to-txt"
              class="inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition duration-300"
              >Go</a
            >
          </div>
        </div>

        <div class="bg-white rounded-lg shadow-lg p-6">
          <h1 class="text-2xl font-bold text-gray-800 mb-4 text-center">
            PNG images into PDF
          </h1>
          <div class="text-center">
            <a
              href="/png-to-pdf"
              class="inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition duration-300"
              >Go</a
            >
          </div>
        </div>

        <div class="bg-white rounded-lg shadow-lg p-6">
          <h1 class="text-2xl font-bold text-gray-800 mb-4 text-center">
            PNG into JPG
          </h1>
          <div class="text-center">
            <a
              href="/png-to-jpg"
              class="inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition duration-300"
              >Go</a
            >
          </div>
        </div>

        <div class="bg-white rounded-lg shadow-lg p-6">
          <h1 class="text-2xl font-bold text-gray-800 mb-4 text-center">
            PNG FILES TO TXT
          </h1>
          <div class="text-center">
            <a
              href="/png-to-txt"
              class="inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition duration-300"
              >Go</a
            >
          </div>
        </div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>

<script>
  document
    .getElementById("uploadForm")
    .addEventListener("submit", function (e) {
      e.preventDefault();

      // Create a FormData object, appending the file
      const formData = new FormData(this);

      // Fetch API to send the file to your Flask endpoint
      fetch("http://127.0.0.1:5000/api/extractImg2Text", {
        method: "POST",
        body: formData, // FormData will be sent as multipart/form-data
      })
        .then((response) => response.json())
        .then((data) => {
          if (data.error) {
            alert(data.error);
          } else {
            // Display the extracted text
            document.getElementById("extractedText").innerText =
              data.extracted_text;
          }
        })
        .catch((error) => {
          console.error("Error:", error);
          alert("An error occurred while processing the image.");
        });
    });
</script>
