<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>PNG to Text Converter</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="bg-gray-100">
    <nav class="bg-gray-800 p-5 text-gray-100">
      <div
        class="container mx-auto flex justify-between items-center flex-wrap"
      >
        <div class="flex space-x-6 justify-center flex-1 text-xl">
          <a href="/" class="hover:underline p-2" style="color: #fcd34d"
            >Home</a
          >
          <a href="#about-us" class="hover:underline p-2" style="color: #fcd34d"
            >About Us</a
          >
        </div>
        <a
          href="/logout"
          class="text-xl hover:underline p-2"
          style="color: #f87171"
          >Logout</a
        >
      </div>
    </nav>

    <div class="container mx-auto mt-24 p-8">
      <div class="flex flex-wrap -mx-4">
        <div class="w-full md:w-1/2 px-4 mb-6 md:mb-0">
          <h1 class="text-2xl font-bold text-gray-800 mb-4">PNG to Text</h1>
          <form action="/converttt" method="post" enctype="multipart/form-data">
            <div class="mb-4">
              <label
                for="png_file"
                class="block text-gray-700 text-sm font-bold mb-2"
                >Select PNG File:</label
              >
              <input
                type="file"
                id="png_file"
                name="png_file"
                accept=".png"
                required
                class="form-input mt-1 block w-full border py-2 px-3 rounded-md"
              />
            </div>
            <button
              type="submit"
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition duration-300"
            >
              Convert to Text
            </button>
          </form>
        </div>

        <div class="w-full md:w-1/2 px-4">
          <h1 class="text-2xl font-bold text-gray-800 mb-4">TEXT TO PNG</h1>
          <form
            action="/text_to_png"
            method="post"
            enctype="multipart/form-data"
          >
            <div class="mb-4">
              <label
                for="file"
                class="block text-gray-700 text-sm font-bold mb-2"
                >Select Text File:</label
              >
              <input
                type="file"
                id="file"
                name="file"
                accept=".txt"
                required
                class="form-input mt-1 block w-full border py-2 px-3 rounded-md"
              />
            </div>
            <button
              type="submit"
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition duration-300"
            >
              Convert
            </button>
          </form>
        </div>
      </div>
    </div>

    <footer class="bg-gray-900 text-gray-300 py-8 mt-10">
      <div
        class="container mx-auto grid grid-cols-1 md:grid-cols-3 gap-8 text-center md:text-left"
      >
        <div>
          <h2 class="text-lg font-bold mb-4">About ProConverter</h2>
          <p>
            Leading the way in text extraction technology. Providing fast,
            accurate, and reliable services to convert your files effortlessly.
          </p>
        </div>
        <div>
          <h2 class="text-lg font-bold mb-4">Quick Links</h2>
          <ul>
            <li><a href="/" class="hover:text-blue-400">Home</a></li>
            <li>
              <a href="#about-us" class="hover:text-blue-400">About Us</a>
            </li>
          </ul>
        </div>
        <div>
          <h2 class="text-lg font-bold mb-4">Follow Us</h2>
          <div class="flex justify-center md:justify-start space-x-4">
            <a href="#" class="hover:text-blue-400">Twitter</a>
            <a href="#" class="hover:text-blue-400">Facebook</a>
            <a href="#" class="hover:text-blue-400">Instagram</a>
          </div>
        </div>
      </div>
      <div class="text-center mt-8">
        <p>&copy; 2024 ProConverter. All rights reserved.</p>
      </div>
    </footer>

    <!-- Dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
