<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>PNG to JPG Converter</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="bg-gray-100">
    <nav
      class="bg-gradient-to-r from-cyan-500 to-blue-500 p-4 text-white fixed top-0 w-full z-50"
    >
      <div class="container mx-auto flex justify-between items-center">
        <a class="text-2xl font-bold" href="#">PNG to JPG Converter</a>
        <div class="text-lg">
          <a href="#" class="hover:text-blue-200">JPG TO PNG</a>
        </div>
      </div>
    </nav>

    <div class="container mx-auto mt-24 p-8">
      <div class="flex flex-wrap -mx-4">
        <div class="w-full md:w-1/2 px-4 mb-6 md:mb-0">
          <h1 class="text-2xl font-bold text-gray-800 mb-4">
            PNG to JPG Converter
          </h1>
          <form action="/convert" method="post" enctype="multipart/form-data">
            <div class="mb-4">
              <label
                for="png_file"
                class="block text-gray-700 text-sm font-bold mb-2"
                >Select PNG File:</label
              >
              <input
                type="file"
                id="png_file"
                name="png_file"
                accept=".png"
                required
                class="form-input mt-1 block w-full border py-2 px-3 rounded-md"
              />
            </div>
            <button
              type="submit"
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition duration-300"
            >
              Convert
            </button>
          </form>
        </div>

        <div class="w-full md:w-1/2 px-4">
          <h1 class="text-2xl font-bold text-gray-800 mb-4">
            JPG To PNG Converter
          </h1>
          <form
            action="/convert-jpg-to-png"
            method="post"
            enctype="multipart/form-data"
          >
            <div class="mb-4">
              <label
                for="jpg_file"
                class="block text-gray-700 text-sm font-bold mb-2"
                >Select JPG File:</label
              >
              <input
                type="file"
                id="jpg_file"
                name="jpg_file"
                accept=".jpg"
                required
                class="form-input mt-1 block w-full border py-2 px-3 rounded-md"
              />
            </div>
            <button
              type="submit"
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition duration-300"
            >
              Convert
            </button>
          </form>
        </div>
      </div>
    </div>

    <!-- dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
